{{define "body"}}
    <h1>Todo Item</h1>

    <h2>Description</h2><div>{{.todo.Description}}</div>

    <h2>DeadLine</h2><div>{{.todo.Deadline}}</div>
    <h2>Status</h2><div>{{if .Status}} Completed {{else}} Pending {{end}}</div>


    <h2>Subtasks</h2>
    <a href="/todo/{{.todo.ID}}/createSubtask">Create SubTask</a>

    <table>
        <thead>
            <th>Description</th>
            <th>Status</th>
            <th>Operation</th>
        </thead>
        <tbody>
        </tbody>
        {{range $subtask := .subtasks}}
            <tr>
                <td>{{$subtask.DescriptionPreview}}</td>
                <td>{{if $subtask.Status}} Completed {{else}} Pending {{end}}</td>
                <td><a href="/todo/{{$subtask.ParentID}}/edit/{{$subtask.ID}}">Edit</a> | <a href="/todo/{{$subtask.ParentID}}/delete/{{$subtask.ID}}">Delete</a></td>
            </tr>
        {{end}}
    </table>
{{end}}
